/* 
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }


/* Style  */
:root {
  --primary-color: #a066d6;
  --secondary-color: #b82fc4;
}



body {
  display: flex;
  justify-content: space-around;
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
}

p {
  font-weight: 700;
  font-size: 20px;
}

.container {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  justify-content: space-around;
  width: 50%;
  height: 100vh;
  padding: 25px;
  background-color: var(--primary-color);
}


form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  margin: 0px -25px;
  padding: 50px 0;
  background-color: #fff;
}

.row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 10px;
}

.row > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0px 10px;
}

label {
  font-weight: 300;
}

input {
  appearance: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  width: 200px;
}

input:focus {
  outline: none;
  border: 2px solid var(--secondary-color);
  box-shadow: 10px 10px 20px 3px; 
}

input:required + span {
    position: relative;
}

input:required + span::after {
  position: absolute;
  content: "Required";
  font-size: 10px;
  left: 150px;
  bottom: 65px;
}

input[type="submit"]{
  width: 100px;
  font-weight: 800;
  height: auto;
  padding: 10px;
  background-color: var(--secondary-color);
  box-shadow: 5px 5px 10px 1px;
}

a {
  text-decoration: none;
  color: #452fc4;
}

a:hover, input[type="submit"]:hover {
  text-decoration: none;
  color: #fff;
}

a:active {
  text-decoration: none;
  color: #1518c5;
}

.side-img {
  flex: 1;
  height: 100vh;
  background-image: url(side-img.jpg);
  position: relative;
}

.credits {
  position: absolute;
  top: 95vh;
  left: 1vw;
}