/* 
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }


/* Style  */
:root {
  --primary-color: #7f66d6;
}



body {
    display: flex;
    justify-content: space-evenly;
    min-width: 100vw;
    min-height: 100vh;
}

.container {
    width: 50%;
    height: 100vh;
    padding: 25px;
    background-color: var(--primary-color);
}


form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0px -25px;
    background-color: #fff;
}

.row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 10px;
}

.row > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0px 10px;
}

input:required + span {
    position: relative;
}

input:required + span::after {
  content: "Required"
}